{% extends 'Developments_Tests/base.html' %}

{% block body %}
    <div class="container">

<div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container">
                                <div class="list-group">
                                    {% for info in info_list %}
                                        {% if info.userId == user.id %}
                                            <a href="{% url 'Developments_Test:post-details' info.id %}"  class="list-group-item" style="color: #1D62F0">
                                            <table>
                                                <tr>
                                                  <td><h4 class="list-group-item-heading" style="font-size: 22px;color: #00acbd;font-family: Algerian; font-style: initial">Name: </h4></td>
                                                  <td><h4 class="list-group-item-heading" style="font-size: 22px;color: #ffaf17;font-family: 'Berlin Sans FB'">&nbsp{{ user.username }}</h4></td>
                                               </tr>
                                               <tr>
                                                  <td><h4 class="list-group-item-heading" style="font-size: 20px;color: #00bd14;font-family: Algerian; font-style: initial">ID No: </h4></td>
                                                  <td><h4 class="list-group-item-heading" style="font-size: 20px;color: #ff0f2f;font-family: 'Berlin Sans FB'">&nbsp{{ info.id }}</h4></td>
                                               </tr>
                                                <tr>
                                                  <td><h5 class="list-group-item-text" style="font-size: 20px;color: #5c1dbd;font-family: Algerian; font-style: initial">Title: </h5></td>
                                                  <td><h5 class="list-group-item-text" style="font-size: 20px;color: #dc9d36;font-family: 'Berlin Sans FB'">&nbsp&nbsp&nbsp{{ info.title }}</h5></td>
                                               </tr>
                                                <tr>
                                                  <td><h6 class="list-group-item-text" style="font-size: 20px;color: #bd0080;font-family: Algerian; font-style: initial">Body: </h6></td>
                                                  <td><h6 class="list-group-item-text" style="font-size: 20px;color: #0c5460;font-family: 'Berlin Sans FB'">&nbsp&nbsp&nbsp{{ info.body }}</h6></td>
                                               </tr>
                                            </table>
                                                <br>
                                                     <p class="list-group-item-text" style="color: #000000; font-size: 18px">Click here to show details</p>
                                            </a>
                                                <hr>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>

</div>
{% endblock %}